pandas
numpy
sqlalchemy
psycopg2-binary
python-dotenv
requests
pygsheets
gspread
gspread-dataframe
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-dateutil
openpyxl
pyarrow
